if TARGET_GP8300_DVB

config SYS_BOARD
	default "gp8300_dvb"

config SYS_VENDOR
        default "gpt"

config SYS_CONFIG_NAME
	default "gp8300_dvb"

config GPT_NORFLASH_SUPPORT
	bool "Enable norflash operation"
	depends on GPT_SPI_NORFLASH
	help
	    support norfalsh operation API

choice
	prompt "GPT Norflash Support"
	default GPT_NORFLASH_EXTEND_ADDR_MODE

config GPT_NORFLASH_4BYTE_ADDR_MODE
	bool "Enable norflash 4byte addr mode"
	depends on GPT_SPI_NORFLASH

config GPT_NORFLASH_EXTEND_ADDR_MODE
	bool "Enable norflash extend addr mode"
	depends on GPT_SPI_NORFLASH

endchoice

endif
